build-HW1-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
build-HW2-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
build-HW2-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
build-HW3-Desktop_Qt_5_1_0_MinGW_32bit-Debug/
build-Fractal-Desktop_Qt_5_1_0_MinGW_32bit-Debug/